.mDivStyle {
    display: flex;
    flex-wrap: wrap;
}

.styleD {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 23px;
    margin-top: 20px;
    margin-left: 10px;
}

.indexWidth {
    width: 49%;
}

.styleButtonPostOfCurrentUser {
    width: 90%;
    height: 40px;
    margin-left: 5%;
}

